body {
  font-family: Arial, Helvetica, sans-serif;
}

.blog-posts {
  margin: 25px auto;
  background-color: orange;
  width: 500px;
  max-width: calc(100% - 8px);
  padding-left: 8px;
}

.blog-posts caption {
  color: #fff;
  font-size: 24px;
  font-weight: 600;
  padding: 8px;
  margin-bottom: 16px;
  border-bottom: 1px solid #fff;
}

.blog-posts th {
  background-color: mediumaquamarine;
  padding: 8px;
}

.blog-posts td {
  background-color: #fff;
  padding: 8px;
}

.blog-posts__actions {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 8px;
  padding: 16px;
}

.hide {
  display: none !important;
}
